.about-creator__personal-info {
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: 1.2em;
    text-align: justify;
}

.about-creator-wrapper {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    grid-column: 2/3;
}

/*desktop*/
@media screen and (min-width: 1024px) {
    .about-general {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5%;
        border-bottom: rgba(184, 134, 11, 0.8) 1px solid;
        margin-left: 7%;
        margin-right: 7%;
        padding-bottom: 5%;
        padding-top: 2%;
    }

    .about-gallery {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid rgba(184, 134, 11, 0.6);
        padding: 1% 5% 1% 5%;
    }

    .about-gallery p {
        line-height: 1.6em;
    }

    .about-creator {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1% 1% 1% 5%;
    }

    .about-creator__photo {
        border-radius: 500px;
    }

    .about-creator__profile {
        display: flex;
    }

    h3 {
        font-size: 1.7vw;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(184, 134, 11, 0.8);
    }

    p {
        font-size: 1.3em;
        text-align: justify;
    }
}



.bottom-logo {
    width: 15%;
}

.container-bottom-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 7%;
    margin-right: 7%;
}

.container-bottom {
    border-top: 1px solid rgba(184, 134, 11, 0.6);
    border-bottom: 1px solid rgba(184, 134, 11, 0.6);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.container-bottom__logo {
    display: flex;
    justify-content: center;
}

.container-bottom__text {
    padding: 1% 1% 1% 5%;

}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    color: grey;
    margin-top: 2%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 500;
    border-top: rgba(184, 134, 11, 0.8) 1px solid;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 2%;
}

.image-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(187, 187, 187, 0.2);
    padding: 5% 0% 5% 0%;
}


.image-gallery__photo {
    width: 70%;
    max-width: 70%;
}

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-general {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5%;
        border-bottom: rgba(184, 134, 11, 0.8) 1px solid;
        margin-left: 7%;
        margin-right: 7%;
        padding-bottom: 5%;
    }

    .about-gallery {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right: 1px solid rgba(184, 134, 11, 0.6);
        padding: 1% 3% 1% 5%;
    }

    .about-gallery p {
        line-height: 1.5em;
    }

    .about-creator {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1% 1% 1% 5%;
    }

    .about-creator__photo {
        border-radius: 500px;
        width: 60%;
    }

    .about-creator__profile {
        display: flex;
    }

    h2 {
        border-top: rgba(184, 134, 11, 0.8) 1px solid;
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 2%;
    }

    h3 {
        font-size: 2vw;
        font-weight: 500;
        text-transform: uppercase;
        color: rgba(184, 134, 11, 0.8);
    }

    p {
        font-size: 1em;
        text-align: justify;
    }

    .about-creator__personal-info {
        font-size: 1em;
        text-align: justify;

    }

}

/*phone*/
@media screen and (max-width: 767px) {
    .about-general {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: rgba(184, 134, 11, 0.8) 1px solid;
        margin-left: 7%;
        margin-right: 7%;
    }

    .about-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0% 3% 1% 3%;
    }

    .about-gallery p {
        line-height: 1.3em;
    }

    .about-creator {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .about-creator__photo {
        border-radius: 500px;
        width: 60%;
        margin-bottom: 10%;
    }

    .about-creator__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    p {
        font-size: 1em;
        text-align: justify;
        margin-left: 7%;
        margin-right: 7%;
    }

    h2 {
        border-top: rgba(184, 134, 11, 0.8) 1px solid;
        margin-left: 7%;
        margin-right: 7%;
        padding-top: 2%;
    }


    h3 {
        text-transform: uppercase;
        font-weight: 300;
        color: rgba(184, 134, 11, 0.8);
    }
}